/* General Showcase Styles */
.showcase {
    background-color: var(--tertiary-color);
    border: 1px solid var(--quaternary-color); /* Use variable for border color */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Shared Section Styles */
.introduction, .services, .portfolio, .testimonials, .contact {
    background-color: var(--secondary-color); /* Updated to use a variable */
    color: var(--primary-text-color); /* Ensure text color contrasts well with the background */
    margin-bottom: 2rem;
    padding: 1rem;
}

/* Services Section */
.service-item {
    margin-bottom: 1rem;
}

.services .service-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Portfolio Section */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio .portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Testimonials Section */
.testimonials .testimonial-item {
    background-color: var(--quaternary-color); /* Already using a variable */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Features Section for Minimal Page */
.features ul {
    list-style: none; /* Removes default list styling */
    padding: 0;
}

.features li {
    margin-bottom: 10px; /* Spacing between list items */
}

/* Interactive Circles */
.interactive-circles {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust based on your design needs */
    margin: auto;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);/* Updated to use variable */
    font-weight: bold;
    border-radius: 50%;
    background-color: var(--quaternary-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
}


.circle.grow { 
    transform: scale(2); 
    opacity: 0.9; 
}

@media (max-width: 600px) {
    .circle {
        width: 20vw; /* Dynamic sizing for responsiveness */
        height: 20vw;
    }
}

/* Sizing for circles */
.circle.large { width: 160px; height: 160px; top: 25%; left: 40%; }
.circle.medium { width: 120px; height: 120px; top: 75%; left: 30%; }
.circle.small { width: 90px; height: 90px; top: 20%; right: 30%; }
.circle.xlarge { width: 200px; height: 200px; top: 65%; right: 35%; }

/* Color Palettes */
.color-palettes {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--secondary-color); /* Updated to use variable */
}

.palette {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--quaternary-color); /* Use variable for border */
}
